:root {
  --line-percentage: 0%;
}
body {
  background-color: #202020;
  margin: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
}
main {
  width: 350px;
}
.progress {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  &::before {
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: #989898;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
  }
  &::after {
    content: "";
    width: var(--line-percentage);
    height: 0.2rem;
    background-color: #00a2ff;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    transition: width 500ms;
  }
  &__circle {
    color: #000;
    font-weight: 800;
    background-color: #868686;
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 0.2rem solid #989898;
    transition: border-color 750ms, background 750ms;
    &--active {
      border-color: #00a2ff;
      color: #00a2ff;
      background-color: #fff;
    }
  }
}
.buttons {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.button {
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: transform 150ms;
  &:hover {
    transform: scale(1.05);
    filter: brightness(0.85);
  }
  &--primary {
    background-color: #00a2ff;
    color: #fff;
    &:disabled {
      background-color: #989898;
      cursor: not-allowed;
    }
  }
}
