body {
  background-color: #202020;
  font-family: 'Roboto', sans-serif;
}

.main {
  min-height: 100vh;
  overflow: hidden;
  &__container {
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: rotate(0deg);
    transition: transform 500ms;
    transform-origin: top left;
    &.active {
      transform: rotate(-20deg);
    }
  }
  &__article {
    max-width: 1000px;
    padding: 6rem 0;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.5rem;
  }
  &__author {
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 2rem;
  }
  &__text {

  }
  &__subtitle {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem 0;
  }
  &__img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.menu {
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: #0AF;
  top: -100px;
  left: -100px;
  border-radius: 50%;
  display: grid;
  cursor: pointer;
  grid-template-areas: "topLeft topRight"
                       "bottomLeft bottomRight";
  transform: rotate(0deg);
  transition: transform 500ms;
  &.active {
    transform: rotate(-90deg);
  }
  &__button {
    position: relative;
    &:nth-child(1) {
      grid-area: topLeft;
    }
    &:nth-child(3) {
      grid-area: topRight;
    }
    &:nth-child(3) {
      grid-area: bottomRight;
    }
    &:nth-child(4) {
      grid-area: bottomLeft;
    }
  }
  &__icon {
    fill: #FFF;
    position: absolute;
    &--open {
      top: 15px;
      left: 15px;
    }
    &--close {
      top: 15px;
      right: 15px;
    }
  }
}

.nav {
  position: fixed;
  bottom: 3rem;
  left: 0;
  &__list {
    padding-left: 3rem;
    list-style-type: none;
    transform: translateX(-150%);
    transition: all 500ms;
  }
  &__link {
    color: #FFF;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 500ms;
  }
  &.active {
    & > .nav__list {
      transform: translateX(0%);
    }
    .nav__link {
      &:nth-child(1) {
        padding-left: 0rem;
      }
      &:nth-child(2) {
        padding-left: 1rem;
      }
      &:nth-child(3) {
        padding-left: 2rem;
      }
    }
  }
}