body {
  background-color: #202020;
  display: grid;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  margin: 0;
}
.card {
  width: 90vw;
  display: flex;
  flex-direction: row;
    gap: 1rem;
  &__container {
    flex: 0.5;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
    cursor: pointer;
    transition: flex 1s;
    overflow: hidden;
    &:nth-child(1) {
      background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    }
    &:nth-child(2) {
      background-image: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    }
    &:nth-child(3) {
      background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
    }
    &:nth-child(4) {
      background-image: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
    }
    &:nth-child(5) {
      background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    }
    &.card__container--active {
      flex: 5;
      & .card__text {
        opacity: 1;
        transition: opacity 1s;
      }
    }
  }
  &__text {
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 1s;
  }
}
@media screen and (max-width: 480px){
  .card {
    width: 98vw;
    &__container {
      &:nth-child(4),
      &:nth-child(5) {
        display: none;
      }
    }
    &__text {
      font-size: 1.2rem;
    }
  }
}