body {
  background-color: #193c4d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.card {
  box-shadow: 0em 0em 1em 0.1em rgba(0, 0, 0, 0.45);
  width: 100%;
  max-width: 800px;
  background-color: #202020;
  border-radius: 0.5em;
  padding: 1em;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  border: 0.15rem solid #00aaff95;
  h1 {
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.6;
    text-align: center;
    margin-top: 1rem;
  }
  p {
    font-size: 2.5rem;
    padding: 1.5rem 0;
    text-align: center;
  }
  button {
    background-color: #00aaff95;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}
